.ant-drawer-content-wrapper {
  height: 200px !important;
}

.feedback-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanks-para {
  margin-top: 20px;
  font-size: 20px;
  color: #1890ff;
}

.star-rating {
  font-size: 44px;
}
