.chatbot-header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  width: 100%;
}

.header-title {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.header-buttons {
  display: flex;
  flex-direction: row;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: #fff;
  outline: none;
  font-size: 16px;
  transition:
    color 0.3s,
    box-shadow 0.3s;
}

.close-button:hover {
  color: #333; /* Darker shade on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Circular shadow on hover */
}

.full-screen-button {
  display: block;
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.full-screen-button:hover {
  color: white !important;
  font-size: large;
}

.header-online-circle {
  display: inline-flex;
  width: 12px;
  height: 12px;
  margin-right: 7px;
  background: #25d366;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
