.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatbot-messages {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-message,
.bot-message {
  max-width: 70%;
  padding: 8px;
  border-radius: 8px;
  word-wrap: break-word;
  position: relative;
}

.user-message {
  background-color: #3498db;
  color: #fff;
  align-self: flex-end;
  /* text-align: right;
  padding-right: 20px; */
}

.bot-message {
  background-color: #ecf0f1;
  color: #2c3e50;
  align-self: flex-start;
  /* text-align: left;
  padding-left: 20px; */
}

/* Animation for speech bubbles */
.message-animation {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Input and send button styling */
.chatbot-input {
  display: flex;
  padding: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #3498db;
}

button {
  padding: 8px 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}